.headerbar {
    display: flex;
    flex-direction: row;
}

body {
    background-image: none;
}

button {
    cursor: pointer;
    border:none; 
    background-color: transparent;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    width: 200px;
    margin: auto;
}